# Add any directories, files, or patterns you don't want to be tracked by version control
*.class

target

.classpath
.project
.settings

#gradle
.gradle
build

# IDEs
.vscode
.idea
*.iml

fundamentals_generics*