# Add any directories, files, or patterns you don't want to be tracked by version control
*.class

target

.classpath
.project
.settings

#gradle
.gradle
build

# IDEs
.vscode
.idea
*.iml

tutorials/checkstyle/CalcEngine/checks-*.txt
misc_ex/CreateAndPopulateZip/myData.zip

.DS_Store
